HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified

DATABASE_CLIENT=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=sk_db
DATABASE_USERNAME=sk
DATABASE_PASSWORD=sk-db-local
DATABASE_SSL=false

MAILER_HOST=smtp.yandex.com
MAILER_PORT=465

MAILER_USER=example@yandex.ru
MAILER_PASS=12341234
MAILER_DISPLAY_NAME=SK

MAILER_TO=example@yandex.ru
APPLICATIONS_MANAGE_LINK="http://localhost:1337/admin/content-manager/collection-types/api::application.application?page=1&pageSize=10&sort=name:ASC"

SMARTCAPTCHA_SERVER_KEY="capcha key from yandex cloud"
SMARTCAPTCHA_HOST="smartcaptcha.yandexcloud.net"
